@use '../../App.scss';

.tag-container {
  display: inline-block;
  height: 25px;
  padding: 3px 22px;
  background-color: App.$main-color;
  border-radius: 10px;

  .tag-text {
    font-family: App.$font-stack 400;
    font-weight: 500;
  }
}