@use '../App';


.carousel-container {
  position: relative;
  display: flex;
  background-color: red;
  height: 500px;
  margin: 50px 0;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;

  .carousel-arrow {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-top: 4px solid white;
    border-right: 4px solid white;
    cursor: pointer;
  }

  .left-arrow {
    position: relative;
    transform: rotate(-135deg);
    
  }
  .right-arrow {
    position: relative;
    transform: rotate(45deg);
  }

  .carousel-img {
    position: relative;
    height: 100%;
    width: 100%;
  }

}