@use 'Header';

footer {
  display:flex;
  justify-content: center;
  background-color: black;

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      height: 30px;
      margin-top: 20px;
    }

    .footer-text {
      font-family: Header.$main-colour;
      color: white;
    }

  }

}

