@use '../../App.scss';

footer {
  display:flex;
  justify-content: center;
  background-color: black;
  height: 209px;

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      height: 4vh;
      margin-top: 20px;
    }

    .footer-text {
      font-family: App.$main-color;
      color: white;
    }

  }

}

