@use '../../App.scss';


.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 80px;
  height: 160px;
  border-radius: 20px;
  position: relative;


  .banner-back-img {
    border-radius: 20px;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    // border-radius: 20px; need to check if its necessary
  }

  .banner-text {
    font-size: 3vw;
    z-index: 0;
    color: App.$banner-text-color;
  }

  .banner-shadow {
    border-radius: 20px;
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.3;
  }

}

@media only screen and (max-width: 375px) {
  .banner-container {
    margin: 10px 0;
    height: 111px;
    width: 100%;
    justify-content: flex-start;
    
    .banner-text {
      margin-left: 15px;
      font-size: 3.80vh;
      width: 60%;
    }
  }
}